@font-face {
    font-family: '3ds';
    src: url('3ds Condensed Light.ttf');
}

body{
    font-family: "3ds", Arial, sans-serif;
}

ol{
    margin-right: 50px;
    margin-left: 50px;
}

.menu{
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 2px;
    font-size: 30px;
    margin-right: 30px ;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 30px;
}

.item{
    text-decoration: none;
    color: #000000;
    margin-top: 5px;
}

.logo{
    display: flex;
    max-width: 80px;
    max-height: 50px;
    padding: 0%;
    margin-left: 4px;
    border-radius: 25px 25px 25px 25px;
}

.souligne{
    height: 3px;
    background-color: #009eff;
    width: 0;
    transition: 1s;
}

a:hover>.souligne{
    width: 100%;
}

.img_debut_page {
    position: relative;
    width : 100%;
    height : auto;
}

.contenant {
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 80px;
}

.parallax{
    background-image: url("../images/image_1.jpg");
    min-height: 91vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titre-article{
    position: absolute;
    color: white;
    font-size: 80px;
    white-space: nowrap;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgb(35, 35, 35), 4px 4px 8px rgb(255, 255, 255);
}

.container{
    display:block;
}

.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sommaire{
    font-size: 25px;
}

.sommaire_titre_niveau_1 {
    color: #000000;
    font-size: 80px;
    list-style-type:upper-roman;
    margin-left: 6%;
}


.sommaire_titre_niveau_2 {
    color: #000000;
    font-size: 50px;
    margin-left: 6%;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 25px;
    text-align: justify;
    margin-right: 70px;
}

figure {
    display: flex;
    float: left;
    flex-flow: column;
    max-width: 850px;
    max-height: 375px;
}

figcaption {
    color: #000000;
    text-align: left;
    font-size: 15px;
}

footer{
    background:#F2F2F2;
    position:relative;
    bottom:0;
    width:100%;
    height:auto;
    text-align: center;
    color: #505050;
}

.grid{
    display:grid; /* le fameux */
    grid-template-columns:50% 50%; /* 3 colonnes de largeur différente */
    grid-template-rows:50% 50%; /* 2 rangées */
  }
  
.grid>li{
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.text_div {
    vertical-align: middle;
    margin-left: 93px;
    margin-right: 50px;
}

.text{
    vertical-align: middle;
}

footer{
    background:#505050;
    width:100%;
    height:auto;
    text-align: center;
    color: white;
    bottom: 0;
    padding: 2px;
}

.image{
    width: 650px;
    height: auto;
}
