@font-face{
    font-family: '3ds';
    src: url('3ds Regular.ttf');
}

body{
    font-family: "3ds", Arial , sans-serif;
    margin: 0;
}


.menu{
    color: #009eff;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 2px;
    font-size: 30px;
    overflow: hidden;
    margin-right: 30px;
}

.item{
    text-decoration: none;
    color: #009eff;
    margin-top:5px;
}

.logo{
    display: flex;
    min-width: 80px;
    min-height: 50px;
    padding: 0%;
    margin-left: 4px;
    border-radius: 25px 25px 25px 25px;
}

.souligne{
    height: 3px;
    background-color: #009eff;
    width: 0;
    transition: 1s;
}

a:hover>.souligne{
    width: 100%;
}

.parallax{
    /* The image used */
    background-image: url("../images/image-page-principale-valeurs.jpg");
  
    /* Set a specific height */
    min-height: 91vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.titre-article{
    position: absolute;
    color: white;
    font-size: 80px;
    white-space: nowrap;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgb(35, 35, 35), 4px 4px 8px rgb(255, 255, 255);
}

.container{
    display:block;
}

.item{
    margin-right:30px;
    margin-left:30px;
    color:black;
    text-justify: auto;
}

.item2{
    text-align: right;
    margin-right:30px;
    margin-left:30px;
    color:black;
    text-justify: auto;
}


.espace{
    margin-top:30px;
}

.text-top{
    font-size:15px;
    text-align:center;
    text-justify: auto;
    margin-left:250px;
    margin-right:250px;
    color: rgb(166, 165, 165);
}

.text-articles{
    font-size:20px;
    color:rgb(166, 165, 165);
    text-justify: auto;
    margin-right:30px;
    margin-left:30px;
}

.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sommaire_titre_niveau_1 {
    color: #000000;
    font-size: 25px;
}


.sommaire_titre_niveau_2 {
    color: #000000;
    font-size: 25px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 25px;
    text-align: justify;
    margin-right: 70px;
}

figure {
    display: flex;
    float: left;
    flex-flow: column;
    max-width: 850px;
    max-height: 375px;
}

figcaption {
    color: #000000;
    text-align: left;
    font-size: 15px;
}

.grid{
    display:grid; /* le fameux */
    grid-template-columns:50% 50%; /* 3 colonnes de largeur différente */
    grid-template-rows:50% 50%; /* 2 rangées */
    grid-gap:12px; /* gouttière   */
    gap:12px; /* gouttière (mettre les deux lignes)*/
    margin-right: 5%;
  }
  
.grid>li{
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.text{
    vertical-align: middle;
}

.image{
    width: 800px;
    height: 400px;
}




